<ng-container *ngIf="showComponent">
  <nb-layout>
    <nb-layout-header>
      <div>
        <a href="/" class="navbar-logo no-underline">tech<span class="stax">stax</span></a>
      </div>
    </nb-layout-header>
    <nb-layout-column>
      <div class="row">
        <div class="col-md-12">
          <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
            <h2 class="title">404 Page Not Found</h2>
            <small class="sub-title">The page you were looking for doesn't exist</small>
            <button nbButton status="info" fullWidth routerLink="/" type="button" class="home-button">
              Take me home
            </button>
          </div>
        </div>
      </div>
    </nb-layout-column>
  </nb-layout>
</ng-container>
