<div class="container row">
  <div class="col-4 col-md-3 tech-name">
    <div class="tech-name-row">
      <span class="tech-icon"><i [className]="getIcon(tech.name)"></i></span>{{ tech.name }}
    </div>
  </div>
  <div class="bar col-7 col-md-8">
    <button nbButton appearance="ghost" (click)="deleteTech()">
      <nb-icon [options]="{ animation: { type: 'pulse' } }" icon="trash-2-outline" pack="eva"></nb-icon>
    </button>
    <button class="hide-mobile" nbButton appearance="ghost" (click)="changePosition()">
      <nb-icon [options]="{ animation: { type: 'pulse' } }" icon="arrow-ios-upward" pack="eva"></nb-icon>
    </button>
  </div>
</div>
