@import '../../../../variables.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  // background-color: blue;
}
nb-progress-bar {
  flex: 1;
  margin: 0 1rem;
}
.tech-name {
  // flex-grow: 1;
  text-align: left;
}
.bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.hide-mobile {
  @media screen and (max-width: $mobile * 1px) {
    display: none;
  }
}
.row {
  max-width: none;
  padding: 0px;
  margin: 0px;
}
.col-1 {
  padding: 0px;
  margin: 0px;
}
.favourite {
  @media screen and (max-width: $mobile * 1px) {
    margin-left: -10px;
  }
}
.tech-icon {
  margin-right: 10px;
}
.tech-name-row {
  display: flex;
  align-items: center;
}
