progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
img.preview {
  height: 70px;
  width: 130px;
  margin-top: 15px;
  object-fit: cover;
  box-shadow: 0 0.9rem 1.8rem 0 rgba(44, 51, 73, 0.2);
}
.upload-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nb-progress-bar {
  flex: 1;
  margin: 0 1rem;
  width: 100px;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 70px;
}
.progress-bar-wrapper {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delete-button {
  cursor: pointer;
}
