<div class="row">
  <div class="col-12">
    <div class="upload-container">
      <div *ngIf="snapshot | async as snap">
        <div *ngIf="!isProjectView && downloadURL as url"><img class="preview" [src]="url" /><br /></div>

        <div class="progress-bar-wrapper" *ngIf="!downloadURL && percentage | async as pct">
          <nb-progress-bar [value]="pct" status="info" [displayValue]="false"> </nb-progress-bar>
        </div>
      </div>
      <div *ngIf="!isProjectView" class="button-wrapper">
        <nb-icon
          (click)="remove()"
          class="delete-button"
          [options]="{ animation: { type: 'pulse' } }"
          icon="trash-2-outline"
        >
        </nb-icon>
      </div>
    </div>
  </div>
</div>
