@import '../../../variables.scss';

.container-footer-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.twitter-icon {
  color: #222b45;
  cursor: pointer;
  margin-right: 10px;
}
.contact {
  text-decoration: none;
}
.contact:hover {
  text-decoration: underline;
}
