<nb-card class="dialog-card">
  <nb-card-header>Edit Profile</nb-card-header>
  <nb-card-body>
    <form [formGroup]="firstForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <h6 class="form-header">Personal Information</h6>
            <label class="label">Display Name<span class="required-star">*</span></label>
            <input type="text" class="form-control" formControlName="displayName" />
            <div class="row">
              <div class="col-md-6">
                <label class="label"
                  >Unique Name (your personal URL, only alphabetic characters)<span class="required-star"
                    >*</span
                  ></label
                >
                <input type="text" class="form-control" formControlName="uniqueName" />
                <div class="unique-error">
                  <label *ngIf="uniqueNameExists" class="label unique-error-label">Unique Name already exists</label>
                </div>
              </div>
              <div class="col-md-6">
                <label class="label">Role</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Software Developer"
                  formControlName="currentRole"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="label">Country/State</label>
                <input type="text" class="form-control" placeholder="California" formControlName="country" />
              </div>
              <div class="col-md-6">
                <label class="label">City</label>
                <input type="text" class="form-control" placeholder="Sacramento" formControlName="city" />
                <nb-checkbox formControlName="isRemote" (checkedChange)="toggleRemote($event)" status="primary">
                  Only available remotely</nb-checkbox
                ><br />
              </div>
            </div>
            <br />
            <h6 class="form-header">Socials</h6>
            <label class="label">(Only share your username, the URL will be completed automatically)</label>
            <div class="row">
              <div class="col-md-6">
                <label class="label">GitHub</label>
                <div class="input-icon-row">
                  <input type="text" class="form-control" placeholder="johndoe" formControlName="github" />
                </div>
              </div>
              <div class="col-md-6">
                <label class="label">Twitter</label>
                <input type="text" class="form-control" placeholder="johndoe" formControlName="twitter" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="label">LinkedIn</label>
                <input type="text" class="form-control" placeholder="johndoe" formControlName="linkedin" />
              </div>
              <div class="col-md-6">
                <label class="label">Stackoverflow (profile ID)</label>
                <input type="text" class="form-control" placeholder="12620665" formControlName="stackoverflow" />
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <ng-container *ngIf="authService.user$ | async as user">
      <div class="footer-actions">
        <button class="footer-item" status="danger" (click)="cancel()" nbButton>Cancel</button>
        <button class="footer-item" status="info" (click)="onSubmit(user)" nbButton>Submit</button>
      </div>
    </ng-container>
  </nb-card-footer>
</nb-card>
