<nb-card class="newsletter">
  <nb-card-header>
    <h6>Subscribe to the Newsletter!</h6>
  </nb-card-header>
  <nb-card-body class="newsletter-body">
    <div>
      <p>
        Features like custom domains and many more are currently under development. Subscribe to the newsletter and get
        notified right away when it's ready! <b>No spam, of course.</b>
      </p>
      <form [formGroup]="firstForm">
        <div class="input-row">
          <input
            class="form-control"
            formControlName="email"
            type="text"
            nbInput
            fullWidth
            status="info"
            placeholder="john.doe@gmail.com"
          />
          <button class="subscribe-button" (click)="subscribe()" nbButton status="info">Subscribe</button>
        </div>
      </form>
    </div>
  </nb-card-body>
</nb-card>
