@import '../../variables.scss';

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login-card {
  margin-top: 30px;
  width: 30%;
  @media screen and (max-width: $tablet * 1px) {
    width: 90%;
  }
  @media screen and (max-width: $mobile * 1px) {
    margin-top: 20px;
  }
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-body {
  background-image: url('src/assets/login.jpeg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.login-button {
  margin-top: 15px;
  width: 220px;
  height: 40px;
}

//loading spinner login
.lds-ring {
  margin-right: 12px;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
