:host ::ng-deep nb-stepper .step-content {
  text-align: center;
  width: 100%;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}

.create-card {
  @media screen and (min-width: 768px) {
    height: 90%; //only on desktop size
  }
}

.step-container {
  height: 100%;
}

.form-header {
  text-align: left;
}

//flexbox for whole create page
.create-container {
  display: flex;
  height: 100%;
  justify-content: center;
}

//flexbox for each stepper content
.stepper-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch; //align-items is the cross axis to justify content
}

.button-submission {
  margin-top: auto;
  margin-bottom: 20px;
  align-self: center;
}

//flexbox for each input and label
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; //align items left side (in form)
}
