<div class="create-container">
  <div class="col-md-8 card-col">
    <nb-card class="create-card">
      <nb-card-header><button nbButton routerLink="/profile">back</button></nb-card-header>
      <nb-card-body>
        <nb-stepper #stepper orientation="vertical">
          <nb-step [stepControl]="firstForm" [label]="stepperLabel1">
            <form [formGroup]="firstForm" class="step-container">
              <div class="stepper-box">
                <h6 class="form-header">Personal Information</h6>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">Unique Name</label>
                      <input
                        type="text"
                        placeholder="Enter your unique profile name"
                        class="form-control"
                        formControlName="uniqueName"
                        [ngClass]="{
                          'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)
                        }"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="label">City</label>
                      <input
                        type="text"
                        placeholder="e.g. San Jose"
                        class="form-control"
                        formControlName="uniqueName"
                        [ngClass]="{
                          'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)
                        }"
                      />
                      <div class="form-group">
                        <nb-checkbox>Only available remotely</nb-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="label">Position</label>
                      <input
                        type="text"
                        placeholder="e.g. Full Stack Developer"
                        class="form-control"
                        formControlName="uniqueName"
                        [ngClass]="{
                          'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)
                        }"
                      />
                    </div>
                  </div>
                </div>
                <h6 class="form-header">Socials</h6>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="label">github.com</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control"
                        formControlName="uniqueName"
                        [ngClass]="{
                          'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="label">stackoverflow.com</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control"
                        formControlName="uniqueName"
                        [ngClass]="{
                          'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)
                        }"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="label">gitlab.com</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control"
                        formControlName="uniqueName"
                        [ngClass]="{
                          'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="label">linkedin.com</label>
                      <input
                        type="text"
                        placeholder=""
                        class="form-control"
                        formControlName="uniqueName"
                        [ngClass]="{
                          'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)
                        }"
                      />
                    </div>
                  </div>
                </div>
                <div class="button-submission">
                  <button (click)="onFirstSubmit()" nbButton nbStepperNext>next</button>
                </div>
              </div>
            </form>
          </nb-step>

          <nb-step [stepControl]="secondForm" [label]="stepperLabel2">
            <form [formGroup]="secondForm" class="step-container">
              <div class="stepper-box">
                <div>
                  <p class="lorem">Text</p>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="label">Technology</label>
                    <input
                      type="text"
                      placeholder="Add a new technology"
                      class="form-control"
                      formControlName="name"
                      [ngClass]="{
                        'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)
                      }"
                    />
                  </div>
                  <button nbButton (click)="addPrimaryTechnology()">Add</button>
                </div>

                <nb-card class="tech-card" *ngFor="let tech of primaryTechnologies">
                  <nb-card-body>
                    <app-tech-card
                      [tech]="tech"
                      (techChange)="onTechChange($event)"
                      (deleteChange)="onTechDelete($event)"
                    ></app-tech-card>
                  </nb-card-body>
                </nb-card>

                <div class="button-submission">
                  <button nbButton nbStepperPrevious>prev</button>
                  <button nbButton nbStepperNext (click)="onSecondSubmit()">next</button>
                </div>
              </div>
            </form>
          </nb-step>

          <nb-step [stepControl]="thirdForm" [label]="stepperLabel3">
            <form [formGroup]="thirdForm" class="step-container">
              <div class="stepper-box">
                <div>
                  <p class="lorem">Text</p>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label">Technology</label>
                  <input
                    type="text"
                    placeholder="Search for technology"
                    class="form-control"
                    formControlName="tech"
                    [ngClass]="{ 'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched) }"
                  />
                  <button nbButton (click)="addSecondaryTechnology()">Add</button>
                </div>
                <div>
                  <button (click)="removeSecondaryTechnology(tech)" nbButton *ngFor="let tech of secondaryTechnologies">
                    {{ tech }}
                  </button>
                </div>
                <div class="button-submission">
                  <button nbButton nbStepperPrevious>prev</button>
                  <button nbButton nbStepperNext (click)="onThirdSubmit()">next</button>
                </div>
              </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="fourthForm" [label]="stepperLabel4">
            <form [formGroup]="fourthForm" class="step-container">
              <div class="stepper-box">
                <div>
                  <p class="lorem">Text</p>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Enter something"
                    class="form-control"
                    formControlName="employer"
                    [ngClass]="{
                      'form-control-danger': fourthForm.invalid && (fourthForm.dirty || fourthForm.touched)
                    }"
                  />
                </div>
                <div class="button-submission">
                  <button nbButton nbStepperPrevious>prev</button>
                  <button nbButton nbStepperNext (click)="onFourthSubmit()">next</button>
                </div>
              </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
            <div class="step-container">
              <h3>Wizard completed!</h3>
              <button nbButton (click)="stepper.reset()" routerLink="">Back to profile</button>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</div>
