@import '../../../../variables.scss';
.image {
  max-height: 90vh;
  max-width: 90vw;
  @media screen and (max-width: $mobile * 1px) {
    max-height: 90vh;
    max-width: 95vw;
  }
}
.image-container {
  max-height: 90vh;
  max-width: 90vw;
  @media screen and (max-width: $mobile * 1px) {
    max-height: 90vh;
    max-width: 95vw;
  }
}
.close-icon {
  position: absolute;
  color: white;
  opacity: 0.8;
  font-size: 50px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  @media screen and (max-width: $mobile * 1px) {
    margin-top: 5px;
    margin-left: 5px;
  }
}
