<nb-card class="dialog-card-fixed">
  <nb-card-header>
    <div *ngIf="editActivated">
      <div class="row">
        <div class="col-12">
          <label class="label">Project Name<span class="required-star">*</span></label>
          <input class="form-control project-name-input" type="text" [(ngModel)]="temporaryProjectName" />
        </div>
      </div>
    </div>
    <div class="flex-row" *ngIf="!editActivated">
      <h4 class="project-name">{{ project.name }}</h4>
      <button nbButton appearance="ghost" *ngIf="isOwner" (click)="edit()">
        <nb-icon class="edit-button" [options]="{ animation: { type: 'pulse' } }" icon="edit-outline"> </nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="!editActivated; else showInputFields">
      <div class="row">
        <div *ngIf="project.publicUrl" class="col-md-6">
          <label class="label">Public URL</label><br />
          <p>
            <a target="_blank" href="{{ project.publicUrl }}">{{ project.publicUrl }}</a>
          </p>
        </div>
        <div *ngIf="project.githubRepository" class="col-md-6">
          <label class="label">GitHub Repository</label><br />
          <p>
            <a target="_blank" href="https://github.com/{{ project.githubRepository }}"
              >github.com/{{ project.githubRepository }}
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="label">Technologies</label>
          <div class="tech-container row">
            <div class="col-12">
              <button
                *ngFor="let tech of project.technologies"
                class="tech-button-project tech-cursor"
                nbButton
                status="danger"
                shape="round"
                size="small"
              >
                <span class="autocomplete-tech-icon"><i [className]="getIcon(tech)"></i></span>{{ tech }}
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="project.company" class="col-md-6">
          <label class="label">Client/Employer</label>
          <p>{{ project.company }}</p>
        </div>
      </div>
      <hr />

      <label class="label">Project Description</label>
      <markdown class="markdown-description" [data]="project.summary"></markdown>
      <br /><br />
      <ng-container *ngIf="project.repl">
        <div *ngIf="!iframeLoaded" class="loading-container">
          <div class="lds-ripple loading">
            <div></div>
            <div></div>
            <span>repl loading...</span>
          </div>
        </div>
        <iframe
          (load)="replLoad()"
          height="400px"
          width="100%"
          [src]="project.repl | safe"
          scrolling="no"
          frameborder="no"
          allowtransparency="true"
          allowfullscreen="true"
          sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"
        ></iframe>
      </ng-container>

      <div class="image-container">
        <div class="image-content" *ngFor="let image of project.images">
          <img (click)="openImageDialog(image)" class="project-image" src="{{ image.url }}" />
        </div>
      </div>
    </ng-container>

    <!-- input field if edit mode is activate -->
    <ng-template #showInputFields>
      <ng-container>
        <form [formGroup]="firstForm">
          <h6 class="form-header">General Information</h6>
          <div class="row">
            <div class="col-md-6">
              <label class="label">Public URL</label>
              <input type="text" placeholder="https://myproject.dev" class="form-control" formControlName="publicUrl" />
            </div>
            <div class="col-md-6">
              <label class="label">GitHub Repository (only add relative path)</label>
              <input type="text" placeholder="facebook/react" class="form-control" formControlName="githubRepository" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 order-2 order-md-1">
              <label class="label">Technologies<span class="required-star">*</span></label>
              <div class="flex-row tech-row">
                <input
                  #autoCompleteInputProject
                  type="text"
                  placeholder="Python"
                  class="form-control"
                  [matAutocomplete]="auto"
                  [formControl]="techCtrl"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let icon of filteredTechs | async | slice : 0 : 5" [value]="icon">
                    <div (click)="addTechnology(icon)">
                      <span class="autocomplete-tech-icon"><i [className]="getIcon(icon)"></i></span>
                      <span>{{ icon }}</span>
                    </div>
                  </mat-option>
                </mat-autocomplete>
                <button class="footer-item" status="info" (click)="addTechnology()" nbButton>Add</button>
              </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
              <label class="label">Client/Employer</label>
              <input type="text" class="form-control" formControlName="company" />
            </div>
          </div>

          <div class="flex-row row">
            <div class="col-12">
              <button
                *ngFor="let tech of tempTechnologies"
                class="tech-button-project"
                nbButton
                status="danger"
                shape="round"
                size="small"
              >
                <span class="autocomplete-tech-icon"><i [className]="getIcon(tech)"></i></span>
                {{ tech }}
                <nb-icon
                  class="cursor-pointer"
                  (click)="removeTechnology(tech)"
                  [options]="{ animation: { type: 'pulse' } }"
                  icon="close-outline"
                  pack="eva"
                >
                </nb-icon>
              </button>
            </div>
          </div>

          <div class="flex-label">
            <label class="label"
              >Project Description (<a target="_blank" href="https://guides.github.com/features/mastering-markdown/"
                >Markdown</a
              >
              Syntax)<span class="required-star">*</span></label
            >
          </div>
          <textarea
            class="form-control markdown-input"
            placeholder="{{ markdownPlaceholder }}"
            formControlName="summary"
          ></textarea>

          <label class="label">repl.it (make sure to share a read only version)</label>
          <input
            type="text"
            placeholder="https://repl.it/@JohnDoe/FrenchFlamboyantMetrics"
            class="form-control"
            formControlName="repl"
          />

          <br /><br />
          <h6 class="form-header">Preview Card</h6>
          <label class="label">Short Overview (only displayed on the preview card)</label>
          <input type="text" class="form-control" formControlName="overview" />

          <div class="row">
            <div class="col-md-6" *ngIf="authService.user$ | async as user">
              <label class="label">Set Preview Image</label><br />
              <button nbButton status="danger" (click)="openPreviewFile()">
                <nb-icon [options]="{ animation: { type: 'pulse' } }" icon="upload" pack="eva"> </nb-icon>
                Upload Image</button
              ><br />
              <input
                accept="image/x-png,image/gif,image/jpeg"
                type="file"
                (change)="onPreviewInput($event, user)"
                hidden
                #fileInputPreview
              />
              <div class="image-preview-container">
                <img *ngIf="previewImage" src="{{ previewImage.url }}" class="preview" />
                <div *ngIf="!previewImage && percentagePreviewImage | async as pct" class="progress-bar-wrapper">
                  <nb-progress-bar [value]="pct" status="info" [displayValue]="false"> </nb-progress-bar>
                </div>
                <nb-icon
                  *ngIf="previewImage"
                  (click)="removePreviewImage()"
                  class="delete-button"
                  [options]="{ animation: { type: 'pulse' } }"
                  icon="trash-2-outline"
                >
                </nb-icon>
              </div>
            </div>

            <div class="col-md-6">
              <label class="label">Set Preview Text Color</label><br />
              <ng-container *ngIf="project.previewImage; else selectDisabled">
                <nb-select status="danger" placeholder="White" formControlName="previewColor">
                  <nb-option value="1">White</nb-option>
                  <nb-option value="2">Black</nb-option>
                </nb-select>
              </ng-container>
              <ng-template #selectDisabled>
                <nb-select disabled status="danger" placeholder="Disabled"> </nb-select>
              </ng-template>
            </div>
          </div>
        </form>
      </ng-container>
    </ng-template>

    <br />

    <ng-container *ngIf="editActivated && isOwner && authService.user$ | async as user">
      <ng-container>
        <div class="row">
          <div class="col-md-12">
            <br />
            <h6 class="form-header">Images</h6>
            <label class="label">Edit Images</label>
            <div class="dropzone" (click)="addDropzone()" dropzone (dropped)="onDrop($event)">
              <p>Drag and Drop a File</p>
            </div>
            <input type="file" (change)="onDropClick($event)" hidden #fileInputDropzone />

            <div class="upload-task" *ngFor="let file of files">
              <upload-task
                (imageEvent)="newImageUploaded($event)"
                [isProjectView]="true"
                [file]="file"
                [user]="user"
              ></upload-task>
            </div>
            <ng-container *ngIf="project.images">
              <div *ngFor="let image of project.images.slice().reverse()">
                <div class="flex-row">
                  <img class="preview" src="{{ image.url }}" />

                  <div class="button-wrapper">
                    <nb-icon
                      (click)="removeImage(image)"
                      class="delete-button"
                      [options]="{ animation: { type: 'pulse' } }"
                      icon="trash-2-outline"
                    >
                    </nb-icon>
                  </div>
                </div>
                <br />
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </nb-card-body>
  <nb-card-footer>
    <div class="footer-actions-project">
      <div *ngIf="!editActivated">
        <!-- placeholder if !editActivated -->
      </div>

      <button *ngIf="editActivated && isOwner" nbButton (click)="deleteProject()">Delete Project</button>
      <div *ngIf="editActivated && isOwner">
        <button appearance="ghost" (click)="edit()" nbButton>
          <nb-icon class="edit-button" [options]="{ animation: { type: 'pulse' } }" icon="checkmark-outline"> </nb-icon>
        </button>
      </div>

      <button *ngIf="!editActivated" class="footer-item cancel" status="danger" nbButton (click)="closeDialog()">
        Close
      </button>
    </div>
  </nb-card-footer>
</nb-card>
