@import '../../../variables.scss';

img.preview {
  height: 70px;
  width: 130px;
  margin-top: 15px;
  object-fit: cover;
  box-shadow: 0 0.9rem 1.8rem 0 rgba(44, 51, 73, 0.2);
}
.delete-button {
  margin-left: 15px;
  cursor: pointer;
}
.progress-bar-wrapper {
  width: 180px;
  margin-top: 39px;
  margin-bottom: 24px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tech-button-project {
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: default;
}
.edit-button {
  cursor: pointer;
}
.tech-row {
  margin-bottom: 10px;
}
.footer-actions-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.markdown-input {
  height: 250px;
}
.flex-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.loading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loading {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 70px;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.image-content {
  box-shadow: 0 0.9rem 1.8rem 0 rgba(44, 51, 73, 0.4);
  margin: 15px; // 0px 30px 30px 0px;
  cursor: pointer;
}
.project-image {
  height: 190px;
  width: 320px;
  object-fit: cover;
  @media screen and (max-width: $mobile * 1px) {
    height: 50vw;
    width: 80vw;
  }
}
.autocomplete-tech-icon {
  margin-right: 5px;
  font-size: 17px;
}

.autocomplete-tech-icon .custom-icon {
  height: 17px;
  width: 17px;
}

.project-name {
  @media screen and (max-width: $mobile * 1px) {
    font-size: 20px;
  }
}
