<nb-card class="dialog-card-fixed">
  <nb-card-header>Edit Work Experience</nb-card-header>
  <nb-card-body>
    <form [formGroup]="firstForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label class="label">Company Name<span class="required-star">*</span></label>
                <input type="text" placeholder="Google" class="form-control" formControlName="companyName" />
              </div>

              <div class="col-md-6">
                <label class="label">Position<span class="required-star">*</span></label>
                <input type="text" placeholder="Software Engineer" class="form-control" formControlName="position" />
              </div>
            </div>

            <label class="label">Description<span class="required-star">*</span></label>
            <input
              type="text"
              placeholder="I wrote some good lines of code."
              class="form-control"
              formControlName="description"
            />

            <div class="row">
              <div class="col-md-6">
                <label class="label">Starting Date<span class="required-star">*</span></label>
                <input
                  class="form-control"
                  nbInput
                  placeholder="Pick Date"
                  formControlName="startDate"
                  [nbDatepicker]="formpickerStart"
                />
                <nb-datepicker #formpickerStart></nb-datepicker>
              </div>
              <div class="col-md-6">
                <label class="label">Ending Date<span class="required-star">*</span></label>
                <input
                  class="form-control"
                  nbInput
                  placeholder="Pick Date"
                  formControlName="endDate"
                  [nbDatepicker]="formpickerEnd"
                />
                <nb-datepicker #formpickerEnd></nb-datepicker>
                <nb-checkbox formControlName="isCurrent" (checkedChange)="toggleCheckbox($event)"> current</nb-checkbox>
              </div>
            </div>
            <div class="row add-box">
              <div class="col-12 col-md-2">
                <button class="add-button" status="info" (click)="addWork()" nbButton>Add</button>
              </div>
            </div>
            <hr />

            <nb-card *ngFor="let work of workExperiences">
              <nb-card-header>
                <div class="work-header">
                  <ng-container *ngIf="!work.isCurrent; else current">
                    <b
                      >{{ work.position }}, {{ work.companyName }},
                      {{ work.startDateSeconds | date : 'yyyy' }}
                      -
                      {{ work.endDateSeconds | date : 'yyyy' }}</b
                    >
                  </ng-container>
                  <ng-template #current>
                    <b
                      >{{ work.position }}, {{ work.companyName }},
                      {{ work.startDateSeconds | date : 'yyyy' }}
                      - current</b
                    >
                  </ng-template>
                  <nb-icon
                    (click)="deleteWork(work)"
                    class="delete-button"
                    [options]="{ animation: { type: 'pulse' } }"
                    icon="trash-2-outline"
                  >
                  </nb-icon>
                </div>
              </nb-card-header>
              <nb-card-body>{{ work.description }} </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="footer-actions">
      <button class="cancel footer-item" status="danger" nbButton (click)="cancel()">Cancel</button>
      <button class="footer-item" status="info" (click)="saveWorkExperiences()" nbButton>Save</button>
    </div>
  </nb-card-footer>
</nb-card>
