.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.add-button {
  width: 100%;
}
.work-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.delete-button {
  cursor: pointer;
}
.company-logo {
  height: 20px;
}
