@import '../../variables.scss';

.white-bg {
  background-color: white;
}
.landing-head {
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
}
.color-grey {
  color: #777;
}
.text-grey {
  font-size: 1.4rem;
  font-weight: 500;
  color: #777;
  line-height: 2rem;
}
.sample-profile-text {
  font-weight: 500;
  font-size: 15px;
}
.button-large {
  font-size: 15px !important;
  font-weight: 500;
  height: 40px;
  text-transform: initial !important;
  font-weight: 600;
  border-radius: 50%;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-img-container {
  height: 100%;
  @media screen and (max-width: $mobile * 1px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main-img {
  box-shadow: 0 0.9rem 1.8rem 0 rgba(44, 51, 73, 0.2);
  height: 600px;
  width: 850px;

  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;

  @media screen and (max-width: $mobile * 1px) {
    width: 90vw;
    height: 70vw;
  }
}
.main-logo {
  @media screen and (max-width: $mobile * 1px) {
    display: none;
  }
}
.main-slogan {
  font-size: 30px;
  @media screen and (max-width: $mobile * 1px) {
    margin-top: -40px;
  }
}
.main-text {
  font-size: 20px;
  @media screen and (max-width: $mobile * 1px) {
    margin-top: -5px;
  }
}
.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.subscribe-button {
  margin-left: 10px;
}
.feature-3-img {
  height: 600px;
  width: 1000px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;

  @media screen and (max-width: $mobile * 1px) {
    height: 300px;
    width: auto;
  }
}
.discover {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  @media screen and (max-width: $mobile * 1px) {
    display: none;
  }
}
.discover-icon {
  font-size: 50px;
  color: grey;
}
.hero {
  padding-bottom: 50px;
}
.sign-up-btn {
  margin-left: 15px;
}
.section-small {
  padding-top: 70px;
  padding-bottom: 70px;
}
.main-buttons {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}
.visit-text {
  @media screen and (max-width: $mobile * 1px) {
    margin-bottom: 20px;
  }
}
.thick-border-bottom {
  border-bottom: 13px solid #9ed9e5;
  display: inline-block;
  line-height: 0.3;
}
.landing-main-text {
  @media screen and (max-width: $mobile * 1px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
