<nb-layout [hidden]="!showLandingPage" class="landing">
  <nb-layout-header>
    <header class="header">
      <nav class="navbar navbar-expand fixed-top">
        <div>
          <h4>
            <a href="/" class="navbar-logo no-underline">tech<span class="stax">stax</span></a>
          </h4>
        </div>
        <div *ngIf="!isMobile" id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
            <li class="nav-item">
              <a (click)="scrollToFragment('#features')" class="nav-link no-underline">Features</a>
            </li>
            <li class="nav-item">
              <a (click)="scrollToFragment('#pricing')" class="nav-link no-underline">Pricing</a>
            </li>
            <li class="nav-item">
              <a (click)="scrollToFragment('#gitlab')" class="nav-link no-underline">Fork on GitLab</a>
            </li>
            <li class="nav-item sign-up-btn">
              <a routerLink="/login" nbButton status="info"> Sign Up </a>
            </li>
          </ul>
        </div>
        <div *ngIf="isMobile" id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
            <li class="nav-item">
              <a routerLink="/login" nbButton status="info"> Sign Up </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </nb-layout-header>
  <nb-layout-column>
    <section id="hero" class="hero hero-home bg-gray">
      <div class="container">
        <div class="row d-flex">
          <div class="col-lg-6 text order-2 order-lg-1 landing-main-text">
            <h1 class="landing-head main-slogan">One page fits it all.</h1>
            <p class="hero-text text-grey main-text">
              An open-source portfolio application perfectly tailored to the needs of software developers. Host it by
              yourself or start building your profile right here!
            </p>
            <div class="CTA main-buttons row">
              <div class="col-xxl-4 col-12 create-button">
                <a routerLink="/login" shape="round" nbButton status="info" class="button-large landing-main-button">
                  Create Your Free Profile
                </a>
              </div>
              <div class="col-xxl-8 col-12 visit-text">
                <span class="color-grey">or&nbsp;</span>
                <a class="color-grey sample-profile-text" routerLink="/johndoe">Visit a Sample Profile</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 order-2 order-lg-2 main-img-container">
            <div class="main-img" style="background-image: url('assets/img/Macbook.png')"></div>
          </div>
        </div>
        <div class="discover">
          <button nbButton shape="round" ghost>
            <nb-icon
              (click)="scrollToFragment('#features')"
              class="discover-icon"
              [options]="{ animation: { type: 'pulse' } }"
              icon="arrow-ios-downward-outline"
            >
            </nb-icon>
          </button>
        </div>
      </div>
    </section>

    <section id="features" class="features white-bg">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="text col-lg-6 order-1 order-lg-1">
            <h3>
              Showcase your favourite
              <span class="thick-border-bottom">technologies</span>
            </h3>
            <p>
              Displaying your favourite technologies creates a good overview of your skills. Combine them with your
              recent work experiences to make your developer picture complete.
            </p>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2">
            <img src="assets/img/feature-1.png" alt="..." class="img-fluid" />
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="image col-lg-6 order-2 order-lg-1">
            <img src="assets/img/feature-2.png" alt="..." class="img-fluid" />
          </div>
          <div class="text col-lg-6 order-1 order-lg-1">
            <h4>
              ...or let your
              <span class="thick-border-bottom">projects</span> speak for themselves
            </h4>
            <p>
              Create beautiful cards for your projects. No matter if open source or private - <b>techstax</b> will
              enable you to give others a good impression of your work!
            </p>
          </div>
        </div>

        <div class="row d-flex align-items-center">
          <div class="text col-lg-4 order-1 order-lg-1">
            <h4>
              Customizable
              <span class="thick-border-bottom">Markdown</span> descriptions
            </h4>
            <p>
              To guarantee the best showcase possible, <b>techstax</b> will allow you to use Markdown syntax for the
              process of creating your portfolio. It's up to you if you provide detailed descriptions or let screenshots
              or source code explain your project.
            </p>
          </div>
          <div class="image col-lg-8 order-1 order-lg-1">
            <div class="feature-3-img" style="background-image: url('assets/img/feature-3.png')"></div>
          </div>
        </div>

        <div class="row d-flex align-items-center">
          <div class="image col-lg-8 order-2 order-lg-1">
            <img src="assets/img/feature-4.png" alt="..." class="img-fluid" />
          </div>
          <div class="text col-lg-4 order-1 order-lg-1">
            <h4><span class="thick-border-bottom">Code highlighting</span> and repl.it integration</h4>
            <p>
              Markdown and repl.it embedding enables you to showcase pieces of your actual code, no matter the
              progamming language!
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="pricing" class="features bg-gray section-small">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="text col-lg-12 order-2 order-lg-1">
            <h2>Pricing</h2>
            <p>Don't worry, techstax is totally free to use!</p>
          </div>
        </div>
      </div>
    </section>

    <section id="gitlab" class="features white-bg section-small">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="text col-lg-12 order-2 order-lg-1">
            <h2>Fork this project on GitLab</h2>
            <p>
              This project is completely open source and can be forked and cloned via the public GitLab repository
              <a target="_blank" href="https://gitlab.com/tobiaskaufmann/techstax">here</a>.
            </p>
          </div>
        </div>
      </div>
    </section>

    <div id="scrollTop">
      <div (click)="scrollToFragment('#hero')" class="d-flex align-items-center justify-content-end">
        <i class="fa fa-long-arrow-up"></i>To Top
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
