<ng-container *ngIf="authService.user$ | async as user">
  <nb-card class="delete-card">
    <nb-card-header>
      <h6>Do you really want to delete your profile?</h6>
    </nb-card-header>
    <nb-card-body class="delete-body">
      <button (click)="cancel()" nbButton status="danger">Cancel</button>
      <button (click)="delete(user)" nbButton status="primary">Yes, delete :(</button>
    </nb-card-body>
  </nb-card>
</ng-container>
