<nb-card class="dialog-card-fixed">
  <nb-card-header>Edit Tech Stack</nb-card-header>
  <nb-card-body>
    <form>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="label">Add a new Technology<span class="required-star">*</span></label>
            <div class="input-row">
              <input
                #autoCompleteInput
                type="text"
                placeholder="Python"
                class="form-control"
                [matAutocomplete]="auto"
                [formControl]="techCtrl"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let icon of filteredTechs | async | slice : 0 : 5" [value]="icon">
                  <div (click)="addTechnology(icon)">
                    <span class="autocomplete-tech-icon"><i [className]="getIcon(icon)"></i></span>
                    <span>{{ icon }}</span>
                  </div>
                </mat-option>
              </mat-autocomplete>
              <button class="footer-item" status="info" (click)="addTechnology()" nbButton>Add</button>
            </div>
          </div>
          <ng-container *ngIf="profile">
            <label class="label">Your Technologies</label>
            <div *ngFor="let tech of secondaryTechnologies">
              <app-tech-card
                [tech]="tech"
                (techChange)="onTechChange($event)"
                (favouriteChange)="onFavouriteChange($event)"
                (positionChange)="onPositionChangeSecondary($event)"
                (deleteChange)="onTechDeleteSecondary($event)"
              >
              </app-tech-card>
            </div>
            <div *ngIf="secondaryTechnologies?.length < 1">(none)</div>
          </ng-container>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="footer-actions">
      <button class="cancel footer-item" status="danger" nbButton (click)="cancel()">Cancel</button>
      <button class="footer-item" status="info" (click)="saveTechStack()" nbButton>Save</button>
    </div>
  </nb-card-footer>
</nb-card>
