.custom-icon {
    width: 15px;
    height: 15px;
    display: block;
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}
.firebase-icon {
    background-image: url(assets/icons/firebase.svg);
}
.haskell-icon {
    background-image: url(assets/icons/haskell.svg);
}