// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
// @import '~@nebular/auth/styles/all';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

@import "~bootstrap";

// install the framework styles
@include nb-install() {
  @include nb-theme-global();
  // @include nb-auth-global(); // append the install mixin inside of the nb-install
}

@import "variables.scss";

//landing page imports
@import "./assets/landy/vendor/font-awesome/css/font-awesome.min.css";
@import "./assets/landy/css/landy-iconfont.css";
@import "./assets/landy/vendor/owl.carousel/assets/owl.carousel.css";
@import "./assets/landy/vendor/owl.carousel/assets/owl.theme.default.css";
@import "./assets/landy/css/style.default.css";
// @import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800";

@import "custom-icons.scss";

//filedrop
.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 30vw;
  font-weight: 200;
  height: 100px;
  border: 2px dashed black;
  border-radius: 5px;
  background: white;
  margin: 10px 0;
  cursor: pointer;

  .hovering {
    border: 2px solid grey;
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}
progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

//override theme
.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  // padding: 2.25rem 2.25rem 0.75rem;  //default value from package
  padding: 30px 30px 12px 30px;
  @media screen and (max-width: $mobile * 1px) {
    padding: 10px 10px 12px 10px;
  }
}
.nb-theme-default nb-layout.landing .layout .layout-container .content .columns nb-layout-column {
  padding: 0px;
}
.nb-theme-default nb-user .user-name {
  color: white;
  font-weight: bold;
}
.nb-theme-default nb-accordion {
  box-shadow: none;
}
.nb-theme-default nb-accordion nb-accordion-item-body .item-body {
  padding: 0px;
}
.nb-theme-default [nbButton]:focus {
  box-shadow: none;
}
.nb-theme-default nb-select .select-button:focus {
  box-shadow: none;
}
.nb-theme-default nb-card {
  border-radius: 0rem;
}
.nb-theme-default [nbButton].appearance-filled.status-danger {
  color: black;
}
.nb-theme-default [nbButton].appearance-filled.status-info {
  border: none;
  background-image: linear-gradient(to right, #5989e5, #37cfdc);
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
}
.nb-theme-default [nbButton].appearance-filled.status-info:hover {
  opacity: 0.8;
}
.nb-theme-default nb-progress-bar.status-info .progress-value {
  background-image: linear-gradient(to right, #5989e5, #37cfdc);
}
.nb-theme-default nb-card {
  box-shadow: 0 0.9rem 1.8rem 0 rgba(44, 51, 73, 0.2);
}
.nb-theme-default nb-layout-header nav {
  height: 52px;
  color: #222b45 !important;

  // background-color: #f5f5f5;
}
.nb-theme-default nb-layout-footer nav {
  display: block !important;
}
.nb-theme-default nb-user .user-name {
  color: #222b45;
}
a {
  text-decoration: underline;
}
.nb-theme-default nb-layout-header {
  color: #222b45 !important;
}
//override header size for markdown
.nb-theme-default .markdown-description h1,
.nb-theme-default .markdown-description .h1 {
  font-size: 24px;
  line-height: 2rem;
}
.nb-theme-default .markdown-description h2,
.nb-theme-default .markdown-description .h2 {
  font-size: 20px;
  line-height: 2rem;
}
.nb-theme-default .markdown-description h3,
.nb-theme-default .markdown-description .h3,
.nb-theme-default .markdown-description h4,
.nb-theme-default .markdown-description .h4,
.nb-theme-default .markdown-description h5,
.nb-theme-default .markdown-description .h5,
.nb-theme-default .markdown-description h6,
.nb-theme-default .markdown-description .h6 {
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

//global styles

// @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700&display=swap");
// * {
//   font-family: "Open Sans";
//   font-style: normal;
//   font-weight: 300;
// }

//spinner loading
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #222b45;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}



.button-white {
  color: white;
}
.dialog-card {
  max-height: 90vh;
  width: 60vw;
  @media screen and (max-width: $mobile * 1px) {
    height: 80vh;
    width: 90vw;
  }
}
.dialog-card-fixed {
  height: 95vh;
  width: 60vw;
  @media screen and (max-width: $mobile * 1px) {
    height: 80vh;
    width: 90vw;
  }
}
.footer-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer-item {
  margin-left: 10px;
}
.no-underline {
  text-decoration: none;
}
.no-underline:hover {
  text-decoration: none;
}
.no-underline:focus {
  text-decoration: none;
}
.tech-cursor {
  cursor: default !important;
}
.navbar-logo {
  font-weight: 800 !important;
}
.stax {
  color: #97a1bf;
}
.cursor-pointer {
  cursor: pointer;
}
.global-nav {
  z-index: 1;
} //navbar:
.navbar-box {
  //header box
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  // color: white;
}
.required-star {
  color: red;
}
