<nb-card class="dialog-card-fixed">
  <nb-card-header>Add a new Project</nb-card-header>
  <nb-card-body>
    <form [formGroup]="firstForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <h6 class="form-header">General Information</h6>
            <div class="row">
              <div class="col-md-6">
                <label class="label">Project Name<span class="required-star">*</span></label>
                <input type="text" placeholder="" class="form-control" formControlName="name" />
              </div>
              <div class="col-md-6">
                <label class="label">Client/Employer</label>
                <input type="text" placeholder="" class="form-control" formControlName="company" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label class="label">Public URL</label>
                <input
                  type="text"
                  placeholder="https://myproject.dev"
                  class="form-control"
                  formControlName="publicUrl"
                />
              </div>
              <div class="col-md-6">
                <label class="label">GitHub Repository (only add relative path)</label>
                <input type="text" placeholder="facebook/react" class="form-control" formControlName="githubUrl" />
              </div>
            </div>

            <label class="label">Technologies<span class="required-star">*</span></label>
            <div class="input-row">
              <input
                #autoCompleteInput
                type="text"
                placeholder="Python"
                class="form-control"
                [matAutocomplete]="auto"
                [formControl]="techCtrl"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let icon of filteredTechs | async | slice : 0 : 5" [value]="icon">
                  <div (click)="addTechnology(icon)">
                    <span class="autocomplete-tech-icon"><i [className]="getIcon(icon)"></i></span>
                    <span>{{ icon }}</span>
                  </div>
                </mat-option>
              </mat-autocomplete>
              <button class="footer-item" status="info" (click)="addTechnology()" nbButton>Add</button>
            </div>

            <div class="tech-container row">
              <div class="col-12">
                <button
                  class="tech-button"
                  *ngFor="let tech of techs"
                  status="danger"
                  shape="round"
                  size="small"
                  nbButton
                >
                  <span class="autocomplete-tech-icon"><i [className]="getIcon(tech)"></i></span>
                  {{ tech }}
                  <nb-icon
                    (click)="removeTechnology(tech)"
                    [options]="{ animation: { type: 'pulse' } }"
                    icon="close-outline"
                    class="cursor-pointer"
                    pack="eva"
                  >
                  </nb-icon>
                </button>
              </div>
            </div>

            <div class="flex-label">
              <label class="label"
                >Project Description (<a target="_blank" href="https://guides.github.com/features/mastering-markdown/"
                  >Markdown</a
                >
                Syntax)<span class="required-star">*</span></label
              >
            </div>
            <textarea
              class="form-control markdown-input"
              placeholder="{{ markdownPlaceholder }}"
              formControlName="summary"
            ></textarea>

            <label class="label">repl.it (make sure to share a read only version)</label>
            <input
              type="text"
              placeholder="https://repl.it/@JohnDoe/FrenchFlamboyantMetrics"
              class="form-control"
              formControlName="repl"
            />

            <br /><br />
            <h6 class="form-header">Preview Card</h6>
            <label class="label">Short Overview (displayed only on the preview card)</label>
            <input type="text" placeholder="" class="form-control" formControlName="overview" />

            <div class="row">
              <div class="col-md-6">
                <label class="label">Set Preview Image</label><br />
                <button nbButton status="danger" (click)="openPreviewFile()">
                  <nb-icon [options]="{ animation: { type: 'pulse' } }" icon="upload" pack="eva"> </nb-icon>
                  Upload Image</button
                ><br />
                <input
                  accept="image/x-png,image/gif,image/jpeg"
                  type="file"
                  (change)="onPreviewInput($event)"
                  hidden
                  #fileInputPreview
                />

                <div class="image-preview-container">
                  <img *ngIf="previewImage" src="{{ previewImage.url }}" class="preview" />
                  <div *ngIf="!previewImage && percentagePreviewImage | async as pct" class="progress-bar-wrapper">
                    <nb-progress-bar [value]="pct" status="info" [displayValue]="false"> </nb-progress-bar>
                  </div>
                  <nb-icon
                    *ngIf="previewImage"
                    (click)="removePreviewImage()"
                    class="delete-button"
                    [options]="{ animation: { type: 'pulse' } }"
                    icon="trash-2-outline"
                  >
                  </nb-icon>
                </div>
              </div>

              <div class="col-md-6">
                <label class="label">Set Preview Text Color</label><br />
                <ng-container *ngIf="previewImage; else selectDisabled">
                  <nb-select status="danger" placeholder="White" formControlName="previewColor">
                    <nb-option value="1">White</nb-option>
                    <nb-option value="2">Black</nb-option>
                  </nb-select>
                </ng-container>
                <ng-template #selectDisabled>
                  <nb-select disabled status="danger" placeholder="Disabled"> </nb-select>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <br />
          <h6 class="form-header">Images</h6>
          <label class="label">Add Images</label>
          <div class="dropzone" dropzone (click)="addDropzone()" (dropped)="onDrop($event)">
            <p>Drag and Drop a File</p>
          </div>
          <input
            type="file"
            accept="image/x-png,image/gif,image/jpeg"
            (change)="onDropClick($event)"
            hidden
            #fileInputDropzone
          />

          <div *ngFor="let file of files.slice().reverse()">
            <upload-task
              (fileEvent)="receiveFileToDelete($event)"
              (imageEvent)="newImageUploaded($event)"
              [file]="file"
              [user]="user"
            ></upload-task>
            <br />
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="footer-actions">
      <button class="cancel footer-item" nbButton status="danger" (click)="closeDialog()">Cancel</button>
      <button class="footer-item" status="info" nbButton (click)="addProject()">Save</button>
    </div>
  </nb-card-footer>
</nb-card>
