//cdk drag drop
.example-list {
  width: 1000px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}
.example-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
  border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.tech-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tech-button {
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: default;
}
img.preview {
  height: 70px;
  width: 130px;
  margin-top: 15px;
  object-fit: cover;
  box-shadow: 0 0.9rem 1.8rem 0 rgba(44, 51, 73, 0.2);
}
.progress-bar-wrapper {
  width: 180px;
  margin-top: 39px;
  margin-bottom: 24px;
}
.delete-button {
  margin-left: 15px;
  cursor: pointer;
}
.markdown-input {
  height: 250px;
}
.flex-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.autocomplete-tech-icon {
  margin-right: 5px;
  font-size: 17px;
}

.autocomplete-tech-icon .custom-icon {
  height: 17px;
  width: 17px;
}
