@import '../../variables.scss';

.profile-card {
  z-index: 1;
  margin: -150px 0 20px 0;
  flex: 0 0 340px;
  @media screen and (max-width: $small_desktop * 1px) {
    margin: -100px 0 20px 0;
  }
  @media screen and (max-width: $mobile * 1px) {
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
}
.profile-picture {
  background-color: #e7e8e9;
  height: 180px;
  width: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  margin-top: -75px;
  box-shadow: 0 0.45rem 0.9rem 0 rgba(44, 51, 73, 0.2);
}
.profile-picture-cursor {
  cursor: pointer;
}
.profile-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-card-header-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.edit-button-top {
  position: absolute;
  margin-left: -20px;
  cursor: pointer;
}
.share-button-top {
  position: absolute;
  margin-right: -20px;
}
.edit-button {
  cursor: pointer;
}
.add-card {
  z-index: 2 !important;
  background-color: #f6f6f6 !important;
}
.project-card {
  cursor: pointer;
  // width: 21vw;
  width: 100%;
  height: 15vw;
  @media screen and (max-width: $small_desktop * 1px) {
    width: 100%;
    height: 21vw;
  }
  @media screen and (max-width: $tablet * 1px) {
    width: 100%;
    height: 21vw;
  }
  @media screen and (max-width: $mobile * 1px) {
    width: 100%;
    height: 250px;
    margin: 0px;
  }
  @media screen and (max-width: $small_mobile * 1px) {
    height: 250px;
    margin: 0px;
  }
}
.project-col {
  @media screen and (max-width: $mobile * 1px) {
    margin-bottom: 20px;
  }
}
.project-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  margin-left: 30px;
  @media screen and (max-width: $mobile * 1px) {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
}
.profile-header {
  margin-top: -60px;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  min-height: 40px;
  @media screen and (max-width: $mobile * 1px) {
    display: none;
  }
}
.profile-header-title {
  align-self: flex-start;
  height: 20px;
  margin-bottom: 15px;
  @media screen and (max-width: $mobile * 1px) {
    margin-top: 10px;
  }
}
.title-picture {
  z-index: 0;
  position: relative;
  height: 250px;
  margin: -30px -30px 0 -30px; //according to the layout padding in styles.scss

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  @media screen and (max-width: $small_desktop * 1px) {
    height: 200px;
  }
  @media screen and (max-width: $mobile * 1px) {
    margin: -56px -10px 0 -10px; //according to the layout padding in styles.scss
    max-height: 160px;
  }
}
.home-row {
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  @media screen and (max-width: $small_desktop * 1px) {
    padding: 0px 0px 0px 0px;
  }
  @media screen and (max-width: $mobile * 1px) {
    width: 100%;
    margin: 0px;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
}
.social-icon {
  font-size: 30px;
  margin-right: 15px;
  color: white;
}
.social-icon-black {
  font-size: 25px;
  margin-right: 7px;
  margin-left: 7px;
  color: #222b45;
}
.profile-card-button {
  margin: 0px 5px 0px 5px;
}
.tech-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15px;
}
.tech-button {
  margin-right: 10px;
  margin-bottom: 10px;
}
.profile-sub-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.accordion-work {
  overflow: hidden; /* Hide scrollbars */
}
.tech-button-project {
  margin-right: 10px;
  margin-bottom: 10px;
}
.button-shadow {
  box-shadow: 0 0.45rem 0.9rem 0 rgba(44, 51, 73, 0.2);
}

.header-right {
  display: flex;
  align-items: center;
}
.auth-button {
  margin-left: 10px;
}
.user-img {
  height: 40px;
  border-radius: 50%;
}
.show-more-less {
  margin-top: 20px;
  color: rgb(119, 114, 114);
}
.current-role {
  text-align: center;
}
.project-preview-image {
  text-shadow: 2px 2px 8px black;
}
.project-preview {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #222b45;
  position: relative;
}
.project-preview:hover {
  @media screen and (min-width: $mobile * 1px) {
    color: white !important;
  }
}
.project-preview:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: linear-gradient(to bottom, #5989e5, #37cfdc);
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  @media screen and (max-width: $mobile * 1px) {
    background: none;
  }
}
.project-preview:hover:after {
  opacity: 0.8;
}
.project-preview-header {
  line-height: 1.5rem;
  width: 80%;
  padding: 16px 35px 46px 0px; //+16px top/bottom +20px left/right
  margin-left: 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  font-size: 20px;
}
.project-preview:hover .project-preview-text {
  opacity: 1;
  @media screen and (max-width: $mobile * 1px) {
    opacity: 0;
  }
}
.project-preview-text {
  line-height: 1.25rem;
  opacity: 0;
  margin-top: 10px;
  font-size: 0.9375rem;
  z-index: 10;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white !important;
}
.project-preview-text-noimage {
  line-height: 1.25rem;
  margin-top: 10px;
  font-size: 0.9375rem;
  z-index: 10;
}
.project-preview-techs {
  padding: 31px 35px 0px 0px; //+16px top/bottom +20px left/right
  margin-bottom: 6px;
  margin-left: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  @media screen and (max-width: $mobile * 1px) {
    padding: 16px 20px 0px 0px;
    margin-bottom: 6px;
  }
}
.profile-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.action-button {
  margin: 15px 0px 0px 0px;
  width: 210px;
}
.profile-slash {
  font-weight: normal;
  @media screen and (max-width: $mobile * 1px) {
    display: none;
  }
}
.mobile-stax {
  @media screen and (max-width: $mobile * 1px) {
    color: #97a1bf;
  }
}
.flex-unique {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.work-description {
  color: #8f9bb3;
  margin-top: 10px;
}
.exp-company {
  font-size: 20px;
}
.exp-position {
  font-size: 15px;
}
.date {
  color: #8f9bb3;
  font-size: 12px;
}

.change-unique-btn {
  @media screen and (max-width: $mobile * 1px) {
    display: none;
  }
  padding-left: 10px;
  opacity: 0;

  transition: opacity;
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  transition-delay: 0.5s;

  -ms-transition: opacity;
  -ms-transition-timing-function: ease-out;
  -ms-transition-duration: 250ms;
  -ms-transition-delay: 0.5s;

  -moz-transition: opacity;
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  -moz-transition-delay: 0.5s;

  -webkit-transition: opacity;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -webkit-transition-delay: 0.5s;
}
.nav-itm:hover + .change-unique-btn,
.change-unique-btn:hover {
  opacity: 1;
  transition: opacity;
  transition-timing-function: ease-out;
  transition-duration: 250ms;

  -ms-transition: opacity;
  -ms-transition-timing-function: ease-out;
  -ms-transition-duration: 250ms;

  -moz-transition: opacity;
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;

  -webkit-transition: opacity;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
}
.loading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preview-tech-icon {
  font-size: 15px;
  margin-right: 5px;
}
.preview-tech-icon .custom-icon {
  width: 15px;
  height: 15px;
}
.open-source-icon {
  font-size: 25px;
  top: 13px;
  right: 20px;
  z-index: 10;
  position: absolute;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
.no-shadow {
  text-shadow: none;
}
.sub-header {
  color: #8f9bb3;
  font-weight: 200;
  letter-spacing: 1px;
}
.primary-tech {
  box-shadow: 0 0.45rem 0.9rem 0 rgba(44, 51, 73, 0.2);
  height: 27px;
  background-color: #edf1f7;
  border-radius: 1.5rem;
  padding-top: 0.25rem;
  padding-right: 0.625rem;
  padding-bottom: 0.25rem;
  padding-left: 0.625rem;
}
.container-fluid {
  @media screen and (min-width: $small_mobile * 1px) {
    padding: 0px !important;
  }
}
.col-12 {
  @media screen and (max-width: $small_mobile * 1px) {
    padding: 0px !important;
  }
}
