<div *ngIf="profiles$ | async as profiles; else loading">
  <ng-container *ngIf="profiles.length; else noItems">
    <ng-container *ngFor="let profile of profiles; trackBy: trackByFn; let i = index">
      <ng-container *ngIf="i < 1 && ownerChecked; else loading">
        <nb-layout>
          <nb-layout-header class="global-nav">
            <div class="navbar-box">
              <div *ngIf="(authService.user$ | async) && isOwner; else onlyLogo" class="flex-unique">
                <div class="navbar-logo no-underline nav-itm">@{{ profile.uniqueName }}</div>
                <div (click)="openEditProfileDialog(profile)" class="change-unique-btn cursor-pointer">
                  <nb-icon [options]="{ animation: { type: 'pulse' } }" icon="edit-outline"> </nb-icon>
                </div>
              </div>

              <ng-template #onlyLogo>
                <ng-container *ngIf="authService.user$ | async as user; else notLoggedIn">
                  <a (click)="redirectToOwner()" class="navbar-logo no-underline nav-itm"
                    >tech<span class="stax">stax</span></a
                  >
                </ng-container>
                <ng-template #notLoggedIn>
                  <a routerLink="/" class="navbar-logo no-underline nav-itm">tech<span class="stax">stax</span></a>
                </ng-template>
              </ng-template>

              <div class="header-right">
                <div *ngIf="authService.user$ | async as user; else hideLogout">
                  <nb-user
                    [nbContextMenu]="userMenu"
                    [name]="user.displayName"
                    nbContextMenuPlacement="bottom"
                    nbContextMenuTrigger="hover"
                    [picture]="user.photoURL"
                    nbContextMenuTag="my-context-menu"
                  >
                  </nb-user>
                </div>
                <ng-template #hideLogout>
                  <button class="auth-button" (click)="navigateToLogin()" status="control" nbButton ghost>
                    SIGN UP
                  </button>
                </ng-template>
              </div>
            </div>
          </nb-layout-header>
          <nb-layout-column>
            <div
              class="title-picture"
              [ngStyle]="{
                'background-image': 'url(' + profile.profileBackgroundPath + ')'
              }"
            ></div>
            <div class="home-row">
              <div class="profile-card">
                <nb-card>
                  <nb-card-header>
                    <div class="profile-card-header">
                      <div class="profile-card-header-row">
                        <div></div>

                        <div>
                          <div
                            *ngIf="isOwner"
                            class="profile-picture profile-picture-cursor"
                            (click)="changeProfilePicture()"
                            [ngStyle]="{
                              'background-image': 'url(' + profile.profilePicturePath + ')'
                            }"
                          ></div>
                          <div
                            *ngIf="!isOwner"
                            class="profile-picture"
                            [ngStyle]="{
                              'background-image': 'url(' + profile.profilePicturePath + ')'
                            }"
                          ></div>
                        </div>
                        <div>
                          <nb-icon
                            *ngIf="isOwner"
                            (click)="openEditProfileDialog(profile)"
                            class="edit-button-top"
                            [options]="{ animation: { type: 'pulse' } }"
                            icon="edit-outline"
                          >
                          </nb-icon>
                        </div>
                      </div>
                      <ng-container *ngIf="isOwner && (authService.user$ | async) as user">
                        <input
                          type="file"
                          (change)="uploadFile($event, profile, user)"
                          accept="image/x-png,image/gif,image/jpeg"
                          hidden
                          #fileInput
                        />
                      </ng-container>
                      <br />
                      <div>
                        <h6>{{ profile.displayName }}</h6>
                      </div>
                      <div class="current-role">
                        <p>{{ profile.currentRole }}</p>
                      </div>
                      <div>
                        <p>
                          <nb-icon icon="pin"></nb-icon>
                          <ng-container *ngIf="!profile.isRemote; else remote">
                            {{ profile.city }}, {{ profile.country }}
                          </ng-container>
                        </p>
                        <ng-template #remote>Remote</ng-template>
                      </div>
                      <div class="profile-socials">
                        <a
                          *ngIf="profile.linkedin"
                          href="https://linkedin.com/in/{{ profile.linkedin }}"
                          target="_blank"
                        >
                          <nb-icon class="social-icon-black" icon="linkedin"> </nb-icon>
                        </a>
                        <a *ngIf="profile.github" href="https://github.com/{{ profile.github }}" target="_blank">
                          <nb-icon class="social-icon-black" icon="github"> </nb-icon>
                        </a>
                        <a *ngIf="profile.twitter" href="https://twitter.com/{{ profile.twitter }}" target="_blank">
                          <nb-icon class="social-icon-black" icon="twitter"> </nb-icon>
                        </a>
                        <a
                          *ngIf="profile.stackoverflow"
                          href="https://stackoverflow.com/users/{{ profile.stackoverflow }}"
                          target="_blank"
                        >
                          <nb-icon class="social-icon-black" icon="stack-overflow" pack="font-awesome"> </nb-icon>
                        </a>
                      </div>
                      <!-- 
                      <button
                        *ngIf="isOwner"
                        size="small"
                        status="danger"
                        class="action-button"
                        nbButton
                        (click)="openNewsletterDialog()"
                      >
                        <nb-icon [options]="{ animation: { type: 'pulse' } }" icon="download"> </nb-icon>
                        Generate CV
                      </button> -->
                    </div>
                  </nb-card-header>
                  <nb-card-body>
                    <ng-container>
                      <div class="profile-sub-header-row">
                        <ng-container *ngIf="isOwner; else notOwnerTech">
                          <h6>TECH STACK</h6>
                        </ng-container>
                        <ng-template #notOwnerTech>
                          <ng-container *ngIf="profile.secondaryTechnologies?.length > 0">
                            <h6>TECH STACK</h6>
                          </ng-container>
                        </ng-template>
                        <nb-icon
                          *ngIf="isOwner"
                          (click)="openEditTechStackDialog(profile)"
                          class="edit-button"
                          [options]="{ animation: { type: 'pulse' } }"
                          icon="edit-outline"
                        >
                        </nb-icon>
                      </div>

                      <ng-container *ngFor="let tech of profile.secondaryTechnologies">
                        <button class="tech-button tech-cursor" nbButton shape="round" status="danger" size="tiny">
                          <span *ngIf="getIcon(tech.name)" class="preview-tech-icon"
                            ><i [className]="getIcon(tech.name)"></i
                          ></span>
                          {{ tech.name }}
                        </button>
                      </ng-container>

                      <ng-container *ngIf="isOwner; else notOwnerHr">
                        <hr />
                      </ng-container>
                      <ng-template #notOwnerHr>
                        <ng-container
                          *ngIf="profile.workExperiences?.length > 0 && profile.secondaryTechnologies?.length > 0"
                        >
                          <hr />
                        </ng-container>
                      </ng-template>
                      <div class="profile-sub-header-row">
                        <ng-container *ngIf="isOwner; else notOwner">
                          <h6>WORK EXPERIENCE</h6>
                        </ng-container>
                        <ng-template #notOwner>
                          <h6 *ngIf="profile.workExperiences && profile.workExperiences.length > 0">WORK EXPERIENCE</h6>
                        </ng-template>

                        <nb-icon
                          *ngIf="isOwner"
                          (click)="openEditWorkDialog(profile)"
                          class="edit-button"
                          [options]="{ animation: { type: 'pulse' } }"
                          icon="edit-outline"
                        >
                        </nb-icon>
                      </div>
                      <div *ngFor="let work of profile.workExperiences; let i = index">
                        <!-- only show 1 work experience -->
                        <ng-container *ngIf="i < 1">
                          <ng-container *ngIf="!work.isCurrent; else current">
                            <span class="date"
                              >{{ work.startDateSeconds | date : 'MM.yyyy' }}
                              -
                              {{ work.endDateSeconds | date : 'MM.yyyy' }}</span
                            ><br />
                            <b
                              ><span class="exp-company">{{ work.companyName | uppercase }}</span
                              ><br />
                              <span class="exp-position">{{ work.position }}</span></b
                            >
                          </ng-container>
                          <ng-template #current>
                            <span class="date">{{ work.startDateSeconds | date : 'MM.yyyy' }} - current</span><br />
                            <b
                              ><span class="exp-company">{{ work.companyName | uppercase }}</span>
                              <br />
                              <span class="exp-position">{{ work.position }}</span></b
                            >
                          </ng-template>
                          <br />
                          <span class="work-description">{{ work.description }}</span>
                          <br />
                        </ng-container>
                      </div>
                      <!-- hide the other work experiences -->
                      <p
                        *ngIf="!showingMoreWork && profile.workExperiences?.length > 1"
                        (click)="toggleAccordionWork()"
                        nbButton
                        class="show-more-less"
                      >
                        SHOW MORE
                      </p>
                      <!-- show more section -->
                      <nb-accordion class="accordion-work" multi>
                        <nb-accordion-item #accordionWork>
                          <nb-accordion-item-body>
                            <div *ngFor="let work of profile.workExperiences | slice : 1; let i = index">
                              <br />
                              <ng-container *ngIf="!work.isCurrent; else current">
                                <span class="date"
                                  >{{ work.startDateSeconds | date : 'MM.yyyy' }}
                                  -
                                  {{ work.endDateSeconds | date : 'MM.yyyy' }}</span
                                ><br />
                                <b
                                  ><span class="exp-company">{{ work.companyName | uppercase }}</span>
                                  <br />
                                  <span class="exp-position">{{ work.position }}</span></b
                                >
                              </ng-container>
                              <ng-template #current>
                                <span class="date">{{ work.startDateSeconds | date : 'MM.yyyy' }} - current</span><br />
                                <b
                                  ><span class="exp-company">{{ work.companyName | uppercase }}</span>
                                  <br />
                                  <span class="exp-position">{{ work.position }}</span></b
                                >
                              </ng-template>
                              <br />
                              <span class="work-description">{{ work.description }}</span>
                              <br />
                            </div>

                            <p (click)="toggleAccordionWork()" nbButton class="show-more-less">SHOW LESS</p>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                      </nb-accordion>
                    </ng-container>
                  </nb-card-body>
                </nb-card>
              </div>

              <div class="project-section">
                <ng-container *ngIf="profile">
                  <div class="profile-header-title">
                    <h6>PROJECTS</h6>
                  </div>
                  <div class="profile-header">
                    <ng-container *ngIf="isOwner && (authService.user$ | async) as user">
                      <button
                        class="button-white"
                        (click)="resetBackgroundPicture(profile)"
                        status="control"
                        nbButton
                        ghost
                      >
                        reset Background
                      </button>
                      <button class="button-white" (click)="changeBackgroundPicture()" nbButton status="control" ghost>
                        Edit Background
                      </button>
                      <input
                        type="file"
                        (change)="uploadFile($event, profile, user, true)"
                        accept="image/x-png,image/gif,image/jpeg"
                        hidden
                        #fileInputBackground
                      />
                    </ng-container>
                  </div>
                </ng-container>

                <div class="container-fluid">
                  <div class="row">
                    <ng-container *ngIf="profile">
                      <ng-container *ngFor="let project of profile.projects">
                        <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 project-col">
                          <ng-container *ngIf="project.previewImage; else noImage">
                            <nb-card (click)="openProjectDialog(project, profile)" class="project-card">
                              <!-- check if preview text is white, then display text-shadow -->
                              <ng-container *ngIf="project.previewColor == 'white'; else darkText">
                                <div
                                  class="project-preview project-preview-image"
                                  *ngIf="project.previewImage"
                                  [style.color]="project.previewColor"
                                  [ngStyle]="{
                                    'background-image': 'url(' + project.previewImage.url + ')'
                                  }"
                                >
                                  <div class="project-preview-header">
                                    <b>{{ project.name }}</b
                                    ><br />
                                    <span class="project-preview-text">{{ project.overview }}</span>
                                  </div>
                                  <i *ngIf="project.githubRepository" class="open-source-icon devicon-github-plain"></i>

                                  <div class="project-preview-techs">
                                    <ng-container *ngFor="let tech of project.technologies; let i = index">
                                      <button
                                        class="tech-button-project button-shadow"
                                        *ngIf="i < 3"
                                        nbButton
                                        status="danger"
                                        shape="round"
                                        size="tiny"
                                      >
                                        <span *ngIf="getIcon(tech)" class="preview-tech-icon"
                                          ><i [className]="getIcon(tech)"></i
                                        ></span>
                                        {{ tech }}
                                      </button>
                                    </ng-container>
                                  </div>
                                </div>
                              </ng-container>

                              <ng-template #darkText>
                                <div
                                  class="project-preview"
                                  *ngIf="project.previewImage"
                                  [style.color]="project.previewColor"
                                  [ngStyle]="{
                                    'background-image': 'url(' + project.previewImage.url + ')'
                                  }"
                                >
                                  <div class="project-preview-header">
                                    <b>{{ project.name }}</b
                                    ><br />
                                    <span class="project-preview-text">{{ project.overview }}</span>
                                  </div>

                                  <i
                                    *ngIf="project.githubRepository"
                                    class="open-source-icon no-shadow devicon-github-plain"
                                  ></i>

                                  <div class="project-preview-techs">
                                    <ng-container *ngFor="let tech of project.technologies; let i = index">
                                      <button
                                        class="tech-button-project button-shadow"
                                        *ngIf="i < 3"
                                        nbButton
                                        status="danger"
                                        shape="round"
                                        size="tiny"
                                      >
                                        <span *ngIf="getIcon(tech)" class="preview-tech-icon"
                                          ><i [className]="getIcon(tech)"></i></span
                                        >{{ tech }}
                                      </button>
                                    </ng-container>
                                  </div>
                                </div>
                              </ng-template>
                            </nb-card>
                          </ng-container>
                          <!-- no preview image set -->
                          <ng-template #noImage>
                            <nb-card (click)="openProjectDialog(project, profile)" class="project-card">
                              <div class="project-preview" style="color: #222b45">
                                <div class="project-preview-header">
                                  <b>{{ project.name }}</b
                                  ><br />
                                  <span class="project-preview-text-noimage">{{ project.overview }}</span>
                                </div>

                                <i
                                  *ngIf="project.githubRepository"
                                  class="open-source-icon no-shadow devicon-github-plain"
                                ></i>

                                <div class="project-preview-techs">
                                  <ng-container *ngFor="let tech of project.technologies; let i = index">
                                    <button
                                      class="tech-button-project button-shadow"
                                      *ngIf="i < 3"
                                      nbButton
                                      status="danger"
                                      shape="round"
                                      size="tiny"
                                    >
                                      <span *ngIf="getIcon(tech)" class="preview-tech-icon"
                                        ><i [className]="getIcon(tech)"></i
                                      ></span>
                                      {{ tech }}
                                    </button>
                                  </ng-container>
                                </div>
                              </div>
                            </nb-card>
                          </ng-template>
                        </div>
                      </ng-container>
                    </ng-container>

                    <div
                      class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3"
                      *ngIf="isOwner && (authService.user$ | async) as user"
                    >
                      <nb-card class="add-card">
                        <nb-card-header>Add a new Project</nb-card-header>
                        <nb-card-body>
                          <button (click)="openAddDialog(profile, user)" nbButton status="info">ADD</button>
                        </nb-card-body>
                      </nb-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nb-layout-column>
          <nb-layout-footer>
            <app-footer></app-footer>
          </nb-layout-footer>
        </nb-layout>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #noItems>
    <ng-container>
      <app-not-found></app-not-found>
    </ng-container>
  </ng-template>
</div>

<ng-template #loading>
  <div class="loading-container">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>
