@import '../../variables.scss';

.settings-card {
  @media screen and (min-width: 768px) {
    height: 90%; //only on desktop size
  }
}
.settings-container {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.settings-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-head {
  margin-top: 25px;
}
.settings-button {
  width: 100%;
  @media screen and (max-width: $mobile * 1px) {
    width: 100%;
  }
}
.news-button {
  height: 40px;
}
