<nb-layout>
  <nb-layout-header class="global-nav">
    <div class="navbar-box">
      <div>
        <a href="/" class="navbar-logo no-underline">tech<span class="stax">stax</span></a>
      </div>
      <div class="header-right">
        <div *ngIf="authService.user$ | async as user">
          <nb-user
            [nbContextMenu]="userMenu"
            [name]="user.displayName"
            nbContextMenuPlacement="bottom"
            nbContextMenuTrigger="hover"
            [picture]="user.photoURL"
            nbContextMenuTag="my-context-menu"
          >
          </nb-user>
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <div class="settings-container" *ngIf="profiles$ | async as profiles">
      <div class="col-12 col-md-6 col-lg-3 card-col">
        <nb-card class="settings-card">
          <nb-card-header> Settings </nb-card-header>
          <nb-card-body class="settings-body">
            <h6 class="section-head">Newsletter</h6>
            <button class="settings-button news-button" (click)="openNewsletterDialog()" status="info" nbButton>
              Subscribe to the Newsletter
            </button>
            <h6 class="section-head">Profile Management</h6>
            <button class="settings-button" (click)="openDeleteDialog(profiles[0])" status="primary" nbButton>
              Delete your profile
            </button>
          </nb-card-body>
          <nb-card-footer>
            <a status="danger" nbButton [routerLink]="'/' + profiles[0].uniqueName">back</a>
          </nb-card-footer>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
